//-unleashed
section.unleashed
  .wrapper
    .unleashed-block
      .unleashed__text
        .unleashed-description 
          .unleashed-description__item Grand Cherokee 3.6L V6
          .unleashed-description__item 210 horsepower 235 pound-feet of torque
        h1.unleashed__title.h1 Perfomance unleashed
        .compare
          .unleashed__data
            .data__item.unleashed__description Stock
            .data__item.unleashed__description Tuned 
          .unleashed__power.power__table
            .power__item Power
            .power__item 210hp
            .power__item +21hp*
          .unleashed__torque.power__table
            .power__item Torque
            .power__item 235 lbf ft
            .power__item +22 lbf ft*
        .unleashed__find Find out the gains for your car
      .unleashed__image
        img.unleashed__image__item(src='../assets/images/png/jeep.png')