//-everything
section.everything
  .wrapper
    .everything
      .everything-block-title
        h1.everything-title.h1
          | Everything you need from the chip-tuning
        img.everything-mercedes__background(src='../assets/images/png/mercedes-background.png')
      .everything-description
        .everything-description__item
          img.description-item__screen(src='../assets/images/png/mode.png' alt='mode')
          .description-item__title Switch between modes
          .description-item__text
            | Control your car performance right from the smartphone, Drive faster or save fuel with a push of the button.
        .everything-description__item
          img.description-item__screen(src='../assets/images/png/vehicle.png' alt='vehicle')
          .description-item__title Unlimited vehicle change
          .description-item__text
            | Upload your vehicle specific tune from our cloud based database of our 9000 vehicles right from your smartphone.
        .everything-description__item
          img.description-item__screen(src='../assets/images/png/speed.png' alt='speed')
          .description-item__title Watch speed in real time
          .description-item__text Turn your phone into speedometer to accurately project your current speed.
        .everything-description__item
          img.description-item__screen(src='../assets/images/png/Bluetooth.png' alt='Bluetooth')
          .description-item__title Easy pairing with Bluetooth 
          .description-item__text
            | Control your car performance right from the smartphone, Drive faster or save fuel with a push of the button.