/*news-single*/
.news
    &-single-block
        display: flex
        flex-wrap: wrap
        margin-top: 100px
        +sm-block
            margin-top: 60px 
        +xs-block
            margin-top: 50px 
            display: block

        .news__link
            font-size: 20px 
            margin: 10px 10px 0 0
            +sm-block
                font-size: 13px
            +xs-block
                font-size: 10px

            .learn-more__icon
                margin: 0 10px 0 0

    &-single__images
        max-width: calc(33.3333% - 32px)
        margin-right: 32px
        +xs-block
            display: flex
            overflow: auto
            max-width: 100%
            margin-right: -15px

        .article__preview
            margin-bottom: 45px
            +sm-block
                margin-bottom: 18px
            +xs-block
                margin-right: 8px
                width: calc(52% - 10px)

    &-single__text
        max-width: 66.6666%
        +xs-block
            max-width: 100%

        .article__text
            margin-top: 30px
            font-size: 16px
            +sm-block
                font-size: 13px
                margin-top: 18px
            +xs-block
                font-size: 16px
                height: 100%
                overflow: auto
                margin-top: 20px
        
        .article__date
            margin-top: 0
            +sm-block
                margin-top: 16px
            +xs-block
                margin-top: 6px
                font-size: 10px

    &-single
    &-title
        text-align: start
        margin-top: 0px
        +sm-block
            font-size: 20px
            margin-top: 0px
        +xs-block
            font-size: 18px