//-news-banner
section.news-banner
  .wrapper
    .news
      h2.news-title Monte Tuning News
      .news-articles
        article.news-articles__item
          img.article__preview(src='../assets/images/png/mercedes.png' alt='article-preview')
          .article__date(pubdate='' datetime='2.20.2023') 2.20.2023
          h3.article__title Watch Monte GT video review
          p.article__text
            | Watch Monte GT tested reviewed by our customer Watch Monte GT tested reviewed by our customer Watch Monte GT tested reviewed by our customer
          a.news__link(src='#')
            | Learn more
            img.learn-more__icon(src='../assets/images/png/learn-more.png' alt='learn-more')
        article.news-articles__item
          img.article__preview(src='../assets/images/png/bmw.png' alt='article-preview')
          .article__date(pubdate='' datetime='2.20.2023') 2.20.2023
          h3.article__title Watch Monte GT video review
          p.article__text
            | Watch Monte GT tested reviewed by our customer Watch Monte GT tested reviewed by our customer Watch Monte GT tested reviewed by our customer
          a.news__link(src='#')
            | Learn more
            img.learn-more__icon(src='../assets/images/png/learn-more.png' alt='learn-more')
        article.news-articles__item
          img.article__preview(src='../assets/images/png/jaguar.png' alt='article-preview')
          .article__date(pubdate='' datetime='2.20.2023') 2.20.2023
          h3.article__title Watch Monte GT video review
          p.article__text
            | Watch Monte GT tested reviewed by our customer Watch Monte GT tested reviewed by our customer Watch Monte GT tested reviewed by our customer
          a.news__link(src='#')
            | Learn more
            img.learn-more__icon(src='../assets/images/png/learn-more.png' alt='learn-more')
        article.news-articles__item
          img.article__preview(src='../assets/images/png/mercedes.png' alt='article-preview')
          .article__date(pubdate='' datetime='2.20.2023') 2.20.2023
          h3.article__title Watch Monte GT video review
          p.article__text
            | Watch Monte GT tested reviewed by our customer Watch Monte GT tested reviewed by our customer Watch Monte GT tested reviewed by our customer
          a.news__link(src='#')
            | Learn more
            img.learn-more__icon(src='../assets/images/png/learn-more.png' alt='learn-more')
        article.news-articles__item
          img.article__preview(src='../assets/images/png/bmw.png' alt='article-preview')
          .article__date(pubdate='' datetime='2.20.2023') 2.20.2023
          h3.article__title Watch Monte GT video review
          p.article__text
            | Watch Monte GT tested reviewed by our customer Watch Monte GT tested reviewed by our customer Watch Monte GT tested reviewed by our customer
          a.news__link(src='#')
            | Learn more
            img.learn-more__icon(src='../assets/images/png/learn-more.png' alt='learn-more')
        article.news-articles__item
          img.article__preview(src='../assets/images/png/jaguar.png' alt='article-preview')
          .article__date(pubdate='' datetime='2.20.2023') 2.20.2023
          h3.article__title Watch Monte GT video review
          p.article__text
            | Watch Monte GT tested reviewed by our customer Watch Monte GT tested reviewed by our customer Watch Monte GT tested reviewed by our customer
          a.news__link(src='#')
            | Learn more
            img.learn-more__icon(src='../assets/images/png/learn-more.png' alt='learn-more')
