header.header
    .wrapper
        .parent
            .child Header9999
                .icon.icon-png
                .icon.icon-webp
                .svg-mouse.svg-mouse-box
            .child Header233777777777777777
            img(src="assets/icons/svg/spriteSVG.svg#mouse" alt="")
            button click