//-introducing-Monte-GT
section.introducing-Monte-GT
  .wrapper
    .introducing
      h1.introducing-title.h1 Introducing Monte GT
      .introducing-description Customise your tunning with IOS/Android app
      .introducing-rating
        .rating__stars
          img.rating__stars__icon(src='assets/images/png/stars.png' alt='stars')
        .rating__numbers 4.7
      .introducing-statistics 98% of the customers give this item 5 stars.
      .introducing-characteristic
        //- .introducing-device
        img.introducing-device__icon(src='assets/images/png/device.png')
        .introducing-characteristic__items
          .introducing-characteristic__item
            img.characteristic__icon(src='assets/images/png/power.png' alt='power')
            .characteristic__description 10-20% more power and torque*
          .introducing-characteristic__item
            img.characteristic__icon(src='assets/images/png/fuel.png' alt='fuel')
            .characteristic__description
              | 5-10% more
              br
              | fuel savings*
          .introducing-characteristic__item
            img.characteristic__icon(src='assets/images/png/obdii.png' alt='obdii')
            .characteristic__description  OBDII plug &amp; play installlation
          .introducing-characteristic__item
            img.characteristic__icon(src='assets/images/png/app.png' alt='app')
            .characteristic__description IOS / Android mobile apps
        
            
        button.introducing-button(src='#') SHOP NOW USD249
        .introducing-order-now Only 10 left in stock. Order now.
  .introducing-background
